<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu menuId="first" contentId="main" type="overlay">
      <ion-content
        scrollbar="
        ::-webkit-scrollbar {
        width: 7px;
      } 
      ::-webkit-scrollbar-track {
        background: rgb(185, 185, 185);
      }
      ::-webkit-scrollbar-track:hover {
        background: #616161;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(36, 36, 36);
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 0, 0);
      }"
      >
        <ion-list id="inbox-list">
          <ion-list-header>Swastika</ion-list-header>
          <ion-note> Pramod Maheshwari </ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              lines="none"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
